body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.LineupButton {
  padding:5px 12px;
  float: left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.charmander{
  content: url(https://emojis.slackmojis.com/emojis/images/1469223471/679/charmander_dancing.gif?1469223471);
  position:absolute;
  height: 50px;
  width: 50px;
}
.pickle{
  content:url(https://emojis.slackmojis.com/emojis/images/1450447981/152/aw_yeah.gif?1450447981);
  height: 50px;
  width: 50px;
  position:absolute;
}
.leftshark{
  content:url(https://emojis.slackmojis.com/emojis/images/1466643149/555/leftshark.gif?1466643149);
  position:absolute;
  height: 50px;
  width: 50px;
}
.ML{
  content:url(https://emojis.slackmojis.com/emojis/images/1490885301/1973/mario_luigi_dance.gif?1490885301);
  height: 50px;
  width: 50px;
  position:absolute;
}